.assign-1-shape-1 {
    color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: rgb(54.1%, 16.9%, 88.6%);
    background-color: hsl(271.1, 75.9%, 52.7%);
    background-color: #8a2be2;
}

.assign-1-shape-2 {
    color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8a2be280;
}

.assign-1-shape-3 {
    color: white;
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #8a2be21a;
}