* {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.parent {
    background-color: #eef7fb;
    width: 550px;
    height: 330px;
    margin: 20px auto;
    position: relative;
    text-transform: capitalize;
}

.first,
.third {
    position: absolute;
    width: 230px;
    height: 290px;
    background-color: #eee;
    margin: 20px;
}

.first {
    left: 0;
    top: 0;
}

.third {
    right: 0;
    top: 0;
}

.one,
.four {
    position: absolute;
    width: 190px;
    padding: 10px;
    background-color: #03a9f4;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: bold;
}

.two,
.five {
    position: absolute;
    width: 190px;
    height: 190px;
    line-height: 190px;
    background-color: #ddd;
    text-align: center;
    color: black;
    bottom: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 50%;
    font-size: 250%;
}

.line {
    position: absolute;
    width: 2px;
    height: 290px;
    background-color: #03a9f4;
    margin-top: 20px;
    margin-left: 50%;
}

.three {
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: #03a9f4;
    color: white;
    font-size: 70%;
    font-weight: bold;
    top: 50%;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
}