.ps {
    background-color: aqua;
    color: black;
    text-shadow: 0.4px 0.4px red, 0.8px 0.8px blue, 1.2px 1.2px violet;
    text-align: center;
    text-transform: capitalize;
}

.ps span {
    text-transform: uppercase;
}