:root {
    --mainColor: #009688;
    --mainPadding: 10px;
}

div {
    width: 400px;
    border: 2px solid var(--mainColor, #000000);
    color: var(--mainColor, #f00);
    margin: 10px auto;
    padding: var(--mainPadding, 10px);
}