/* Nesting can be written as div.parent div.child or .parent .child */

.parent .child .title {
    color: red;
}

.parent .title {
    color: blue;
}

.parent p,
div.title {
    color: green;
}