.assign-2-shape-1 {
    color: white;
    width: 400px;
    height: 400px;
    background-image: url("../css-assignment-5-8.png");
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

.assign-2-shape-2 {
    color: white;
    width: 400px;
    height: 400px;
    background-image: url("../css-assignment-5-8.png");
    background-repeat: repeat-y;
    margin-bottom: 20px;
}

.assign-2-shape-3 {
    color: white;
    width: 400px;
    height: 400px;
    background-image: url("../css-assignment-5-8.png");
    background-repeat: repeat-x;
}

.assign-2-shape-4 {
    color: white;
    width: 400px;
    height: 400px;
    background-image: url("../css-assignment-5-8.png");
    background-repeat: repeat;
}