.one,
.two,
.three {
    background-color: aqua;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}

.one {
    white-space: normal;
}

/* how to make nowrap respect padding */
.two {
    white-space: nowrap;
    overflow: hidden;
    max-height: 20px;
}

.three {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}