div {
    color: white;
    background-color: rgb(167 55 55);
    padding: 20px;
    margin: 20px;
    width: fit-content;
    max-width: 400px;
    max-height: 20px;
    overflow-x: hidden;
}