.parent {
    width: 1000px;
    background-color: red;
    text-align: center;
}

.full div,
.third div,
.half div,
.quarter div {
    padding: 10px 0px;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    background-color: #eee;
}

.full div {
    width: calc(100% - 30px);
}

.third div {
    width: calc((100% - 60px)/3);
}

.half div {
    width: calc((100% - 45px)/2);
}

.quarter div {
    width: calc((100% - 75px)/4);
    margin-bottom: 15px;
}

.clear {
    clear: both;
}